body {
  margin: 0;
}

footer {
  background-color: #00cc00;
  height: 300px;
}

footer p, q {
  color: #ffffff;
}

footer p {
  background-color: #00cc00;
  margin: -1% 0 0 80%;
  text-align: center;
  width: 10%;
}

footer q {
  border-bottom: 1px solid #ffffff;
  display: block;
  margin: 0 0 0 65%;
  padding: 5% 0% 2% 0%;
  width: 25%;
}

header, main {
  padding: 0 15% 0 15%;
}

h1 {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 24px;
  margin-bottom: 5%;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  border-radius: 100%;
  color: #ffffff;
  padding: 1%;
  position: relative;
  text-align: center;
  width: 3%;
}

h3 {
  font-size: 30px;
  position: relative;
  width: 25%;
  z-index: 3;
}

li {
  display: inline;
}

q {
  font-size: 35px;
  font-style: italic;
}

ul {
  list-style-type: none;
  margin-left: 85%;
}

#imgLogo {
  display: block;
  margin: 0 auto;
  width: 5%;
}

/* FIRST PRINCIPLE */

#section01Principle h2 {
  background-color: #ffcc00;
}

#section01Principle h2, p {
  margin-left: 7%;
}

#section01Principle h3 {
  margin: -6% 0 0 15%;
}

#section01Principle img, #section03Principle img {
  margin: -24% 0 0 50%;
  position: relative;
  width: 45%;
}

#section01Principle img {
  z-index: 0;
}

#section01Principle p {
  margin: 1% 0 0 15%;
  position: relative;
  width: 42%;
  z-index: 1;
}

/* SECOND PRINCIPLE */

#section02Principle, #section03Principle {
  margin-top: 10%;
}

#section02Principle h2 {
  background-color: #ff0000;
  margin-left: 35%;
  z-index: 5;
}

#section02Principle h3 {
  margin: -6% 0 0 42%;
  z-index: 6;
}

#section02Principle img {
  margin-top: -24%;
  position: relative;
  width: 45%;
  z-index: 4;
}

#section02Principle p {
  margin: 1% 0 0 42%;
  position: relative;
  width: 42%;
  z-index: 7;
}

/* THIRD PRINCIPLE */

#section03Principle {
  margin-bottom: 10%;
}

#section03Principle h2 {
  background-color: #c92424;
  margin-left: 8%;
}

#section03Principle h3 {
  margin: -6% 0 0 14%;
  width: 100%;
}

#section03Principle p {
  margin: 1% 0 0 14%;
  position: relative;
  width: 42%;
  z-index: 8;
}

/* FIRST BANNER */

#sectionQuote {
  background-image: url(images/dieter-rams.png);
  background-repeat: no-repeat;
  height: 300px;
  margin-bottom: 10%;
}

#sectionQuote q {
  border-bottom: 1px solid #00cc00;
  color: #000000;
  display: block;
  margin-left: 45%;
  padding: 15% 0 3% 0;
  width: 40%;
}

#sectionQuote p {
  background-color: #f3f3f3;
  margin: -1% 0 0 75%;
  text-align: center;
  width: 10%;
}

/* RESPONSIVE */

@media screen and (min-width: 320px) and (max-width: 414px) {

  footer {
    height: 150px;
  }

  footer p {
    margin: -3% 0 0 70%;
    width: 25%;
  }

  footer q {
    margin-left: 40%;
    width: 55%;
  }

  header, main {
    padding: 0;
  }

  h1 {
    font-size: 18px;
    width: 90%;
  }

  p {
    font-size: 14px;
  }

  q {
    font-size: 20px;
  }

  ul {
    margin-left: 60%;
  }

  #imgLogo {
    width: 15%;
  }

  #section01Principle h2, #section02Principle h2, #section03Principle h2 {
    font-size: 17px;
    width: 4%;
    margin-left: 2%;
  }

  #section01Principle h3, #section02Principle h3, #section03Principle h3 {
    font-size: 16px;
    margin: -10% 0 0 10%;
    width: 90%;
  }

  #section01Principle img, #section02Principle img, #section03Principle img {
    margin: 5% 0 0 10%;
  }

  #section01Principle p, #section02Principle p, #section03Principle p {
    margin: 2% 0 0 10%;
    width: 80%;
  }

  #sectionQuote {
    background-size: cover;
    height: 110px;
  }

  #sectionQuote p {
    margin: -3% 0 0 70%;
    width: 30%;
  }

  #sectionQuote q {
    padding-top: 6%;
    width: 50%;
  }

}